<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="OrderImport" xsi:type="object">Hanesce\TempostarConnector\Console\Command\OrderImport</item>
                <item name="InventoryExport" xsi:type="object">Hanesce\TempostarConnector\Console\Command\InventoryExport</item>

            </argument>
        </arguments>
    </type>
    <!-- TEMPOSTAR ERP Logger start -->
    <type name="Hanesce\TempostarConnector\Logger\Tempostar\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Hanesce\TempostarConnector\Logger\Tempostar\Logger">
        <arguments>
            <argument name="name" xsi:type="string">TempostarConnectorLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Hanesce\TempostarConnector\Logger\Tempostar\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- TEMPOSTAR ERP Logger End -->
    <type name="Hanesce\TempostarConnector\Services\ExportInventory">
        <arguments>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface</argument>
            <argument name="searchCriteriaBuilder" xsi:type="object">Magento\Framework\Api\SearchCriteriaBuilder</argument>
            <argument name="filterBuilder" xsi:type="object">Magento\Framework\Api\FilterBuilder</argument>
            <argument name="getProductSalableQty" xsi:type="object">Magento\InventorySalesApi\Api\GetProductSalableQtyInterface</argument>
            <argument name="stockResolver" xsi:type="object">Magento\InventorySalesApi\Api\StockResolverInterface</argument>
            <argument name="defaultStockProvider" xsi:type="object">Magento\InventoryCatalogApi\Api\DefaultStockProviderInterface</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
        </arguments>
    </type>
</config>
